/* General Styles */
:root {
  --primary: #002F87;
  --primary-dark: #001a4b;
  --primary-middle: #009AE0;
  --primary-light: #01BAEF;
  --accent: #20BF55;
  --accent-dark: #1ba248;
  --light: #FBFBFF;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light);
    overflow-x: hidden;
}
a {
  color: var(--primary);
}
a:hover {
  color: var(--primary-dark);
}
h2 {
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 70px;
position: relative;
}
h2:after {
    content: '';
    position: absolute;
    display: block;
    height: 3px;
    width: 2000px;
    right: 0;
    bottom: -5px;
    background-color: var(--accent);
}
h3 {
  font-size: 0.9rem;
/*   text-transform: uppercase; */
}
section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.secondary-h1 {
  color: var(--primary);
  text-transform: uppercase;
  position: relative;
  font-size: 2rem;
  margin-bottom: 50px;
}
.secondary-h1:after {
  content: '';
  position: absolute;
  display: block;
  height: 3px;
  width: 3000px;
  left: 0;
  bottom: -5px;
  background-color: var(--accent);
}
/* End General Styles */

/* Header */
.header {
	background-color: var(--light);
}
.header-top {
	padding-top: 10px;
}
.header-top small {
	color: #bdbdbe
}
.header-top .logo-in-header {
	height: 40px;
}
.header-top .search-btn,
#searchInHeader .search-btn {
	color: #fff;
	margin-left: 5px;
	background-color: var(--accent);
}
.header-top .search-btn:hover,
#searchInHeader .search-btn:hover {
	background-color: var(--primary-dark);
}
#searchInHeader .form-inline .form-group {
    display: flex;
    flex-flow: row;
}
.header-top .fa-phone {
	color: var(--primary)
}
.header-top .btn-recall {
	border: 1px solid var(--primary);
	color: var(--primary);
	background-color: var(--light);
}
.header-top .btn-recall:hover {
	background-color: var(--primary-dark);
	border-color: var(--primary-dark);
	color: #fff;
}
header .navbar {
  background-color: var(--primary);
  padding: 0;
}
header .navbar .fa-bars,
header .navbar .fa-search {
    color: #fff;
}
header .navbar .nav-link {
  color: #fff;
  transition: ease all 0.5s;
  border-radius: 5px;
  padding: 16px;
}
header .navbar .nav-link:hover {
  background-color: var(--primary-dark);
}
header .navbar .phone {
    color: #fff;
    padding: 16px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
header .navbar .phone small {
    color: rgba(255, 255, 255, 0.5);
}
/* End Header */

/* Media Header */
/* Large */
@media (min-width: 992px) and (max-width: 1199px) {
  .logo-text-wrap {
    line-height: 1;
  }
}
/* Small */
@media (min-width: 576px) and (max-width: 767px) {
    .header-top .logo-in-header {
        height: 30px;
    }
    .header-top .phone {
        font-size: 0.8rem;
    }
}
/* Extra Small */
@media (max-width: 575px) {
    header .navbar {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}
/* End Media Header */

/* First Screen */
.first-screen {
  padding-top: 50px;
}
.first-screen .product { 
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.first-screen .product-text {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  line-height: 100px;
  padding-left: 15px;
  font-weight: 500;
}
.first-screen .product-1 {
/*  background-image: url(https://i.postimg.cc/26vhg5r2/robotcomputer.jpg);*/
/*	background-image: url(../img/automation.jpg);*/
/*	background-image: url(https://www.grobotics.eu/media/k2/items/cache/d61d44254608dd06ccdd2ff02982d14d_XL.jpg);*/
	background-image: url(../img/automation1.jpg);
}
.first-screen .product-2 {
/*  background-image: url(https://i.postimg.cc/FRqzqvSk/hydraulics.jpg);*/
/*	background-image: url(../img/hydraulics.jpg);*/
	background-image: url(../img/hudraulics1.jpeg);
;}
.first-screen .product-3 {
/*  background-image: url(https://i.postimg.cc/xCqqt8XS/13d6f91a2c80aa3cb89e9446c8ffecb3.jpg);*/
/*	background-image: url(../img/armature.jpg);*/
	background-image: url(../img/armature1.jpg);
}
.first-screen .product-4 {
/*  background-image: url(https://i.postimg.cc/G3HX6nVL/827719123f9e1a966cbcf1786433dcfb.jpg);*/
/*	background-image: url(../img/drive.jpg);*/
	background-image: url(../img/drive1.jpg);
}
.first-screen .product-5 {
/*  background-image: url(https://i.postimg.cc/qgHRJGjk/tsentr.jpg);*/
/*	background-image: url(../img/pump.jpg);*/
	background-image: url(../img/pump1.jpg);
}
.first-screen .product-6 {
/*  background-image: url(https://i.postimg.cc/rsrs2HGn/4.jpg);*/
/*	background-image: url(../img/spare.jpg);*/
	background-image: url(../img/spare1.jpg);
}
.first-screen .product-1,
.first-screen .product-3,
.first-screen .product-4,
.first-screen .product-6 {
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 93%);
	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 93%);
}
.first-screen .product-2,
.first-screen .product-5 {
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 93%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 93%, 0% 100%);
}
.first-screen .product-1 .product-text,
.first-screen .product-3 .product-text,
.first-screen .product-4 .product-text, 
.first-screen .product-6 .product-text {
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}
.first-screen .product-2 .product-text,
.first-screen .product-5 .product-text {
  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
}
.first-screen .product-1 .product-text,
.first-screen .product-3 .product-text,
.first-screen .product-5 .product-text {
	background-color: var(--primary-middle);
	background-color: rgba(77,76,76,0.8);
/*	background-color: var(--accent-dark);*/
}
.first-screen .product-2 .product-text,
.first-screen .product-4 .product-text,
.first-screen .product-6 .product-text {
	background-color: var(--primary-light);
	background-color: rgba(147,145,145,0.8);
/*	background-color: var(--accent);*/
}
/* End First Screen */

/* Media First Screen */
/* Small */
@media (min-width: 576px) and (max-width: 767px) {
	
}
/* Extra Small */
/*@media (max-width: 575px) {
	.first-screen .product { 
	  height: 200px;
	}
   .first-screen .product:nth-child(odd) {
	  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
		clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
	}
	.first-screen .product:nth-child(even) {
	  -webkit-clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
		clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
	}
	.first-screen .product .product-text {
	  height: 70px;
	  line-height: 70px;
	  padding-left: 15px;
	  font-weight: 500;
		-webkit-clip-path: none;
		clip-path: none;
		text-align: center;
	}
	.first-screen .product-1 .product-text,
	.first-screen .product-3 .product-text,
	.first-screen .product-5 .product-text {
	  background-color: var(--primary-middle);
	}
	.first-screen .product-2 .product-text,
	.first-screen .product-4 .product-text,
	.first-screen .product-6 .product-text {
	  background-color: var(--primary-light);
	}
}*/
@media (max-width: 575px) {
	.first-screen {
		padding-top: 0;
	}
	.first-screen .product { 
		height: 31vh;
		-webkit-clip-path: none;
		clip-path: none;
	}
	.first-screen .product .product-text {
	  height: 70px;
	  line-height: 70px;
	  padding-left: 15px;
	  font-weight: 600;
		-webkit-clip-path: none;
		clip-path: none;
		text-align: center;
		font-size: 0.8rem;
	}
	.first-screen .product-1 .product-text,
	.first-screen .product-4 .product-text,
	.first-screen .product-5 .product-text {
		background-color: var(--primary-middle);
		background-color: rgba(77,76,76,0.8);
	}
	.first-screen .product-2 .product-text,
	.first-screen .product-3 .product-text,
	.first-screen .product-6 .product-text {
		background-color: var(--primary-light);
		background-color: rgba(147,145,145,0.8);
	}
}
/* End Media First Screen */

/* Media Products */
/* Large */
@media (min-width: 992px) and (max-width: 1199px) {
    .products-item {
        padding-top: 100px;
    }
    .products-item p {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
/* Medium */
@media (min-width: 768px) and (max-width: 991px) {
    .products-item {
        background-size: 60%;
    }
}
/* Extra Small */
@media (max-width: 575px) {
    .products-item {
        background-size: 50%;
        padding-top: 100px;
    }
}
/* End Media Products */

/* About us */
.about-us-numbers {
  font-size: 10px;
  color: gray;
  text-transform: uppercase;
}
.about-us-numbers .left {
  display: inline-block;
  width: 40%;
  color: var(--primary);
  font-weight: 700;
  text-align: right;
}
.about-us-numbers .left span {
  font-weight: 700;
  font-size: 1.8em;
}
.about-us-numbers .right {
  display: inline;
  padding-left: 15px;
  
}
.about-us a {
/*   text-transform: uppercase; */
  font-weight: 600;
} 
/* End About us */

/* Advantages */
.advantages h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.advantages .advantages-item {
  position: relative;
}
/* End Advantages */

/* Media Advantages */
/* Small and Extra Small */
@media (max-width: 767px) {
    .advantages .fa-angle-double-right {
        transform: rotate(90deg);
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}
/* End Media Advantages */

/* Contacts */
.contacts .fas {
  color: var(--primary); 
}
.contacts li {
  padding-bottom: 1rem;
}
.contacts h3 {
  text-transform: uppercase;
  color: var(--primary);
}
.contacts .btn {
  background-color: var(--accent);
  color: #fff;
  text-transform: uppercase;
}
.contacts .btn:hover {
  background-color: var(--primary-dark);
}
/* End Contacts */

/* Footer */
footer {
	background-color: #49484b;
	color: #fff;
	font-size: 0.7rem;
	padding-top: 30px;
	padding-bottom: 20px;
}
footer .fas {
  color: #fff; 
}
/* End Footer */

/* Sidebar */
.sidebar .list-group-item {
  padding: 0;
  background-color: var(--light);
}
.sidebar .list-group-item a {
  display: block;
  padding: 0.75rem 1.25rem;
  padding-left: 4rem;
  background-size: 30px;
  background-position: left 10px center;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #333;
}
.sidebar .list-group-item.active,
.sidebar .list-group-item:hover {
  border: 1px solid var(--accent);
  background-color: var(--accent);
}
.sidebar .list-group-item.active a,
.sidebar .list-group-item:hover a {
  color: #fff;
}
.sidebar .automation {
  background-image: url(../img/product1-icon-green.png); 
}
.sidebar .hydraulics {
  background-image: url(../img/product2-icon-green.png); 
}
.sidebar .armature {
  background-image: url(../img/product3-icon-green.png); 
}
.sidebar .drive {
  background-image: url(../img/product4-icon-green.png); 
}
.sidebar .pump {
  background-image: url(../img/product5-icon-green.png); 
}
.sidebar .spare {
  background-image: url(../img/product6-icon-green.png); 
}
.sidebar .automation:hover,
.sidebar .active .automation {
  background-image: url(../img/product1-small-white.png); 
}
.sidebar .hydraulics:hover,
.sidebar .active .hydraulics {
  background-image: url(../img/product2-small-white.png); 
}
.sidebar .armature:hover,
.sidebar .active .armature {
  background-image: url(../img/product3-small-white.png); 
}
.sidebar .drive:hover,
.sidebar .active .drive{
  background-image: url(../img/product4-small-white.png); 
}
.sidebar .pump:hover,
.sidebar .active .pump {
  background-image: url(../img/product5-small-white.png); 
}
.sidebar .spare:hover,
.sidebar .active .spare {
  background-image: url(../img/product6-small-white.png); 
}
/* End Sidebar */

/* Article */
.article h2 {
    text-transform: none;
    margin-bottom: 20px;
    margin-top: 50px;
}
.article h2:after {
    width: 0;
}
/* End Article */

/* Manufactorer */
.manufactorer-card .fas {
    color: var(--primary);
}
.manufactorer-card .fa-ul li {
    margin-bottom: 1rem;
} 
.manufactorer-card a.card {
    text-decoration: none;
    color: #333;
    overflow: hidden;
}
.manufactorer-card a.card:hover {
    border-color: var(--primary);
}
.manufactorer-card .manufactorer-offer {
    padding: 20px 0 20px 20px;
    background-color: #fff;
    position: relative;
    border: 1px solid rgba(0,0,0,.125);
    border-left: 3px solid var(--accent);
}
.manufactorer-card .manufactorer-offer .far,
.manufactorer-card .manufactorer-offer .fas {
  color: var(--accent);
}
.manufactorer-card a[aria-controls="aboutManufactorerCollapse"][aria-expanded="false"]:after {
  content: "Читать больше";
}
.manufactorer-card a[aria-controls="aboutManufactorerCollapse"][aria-expanded="true"]:after {
  content: "Свернуть";
}
/* End Manufactorer */

/* Product Card */
.product-card table {
  font-size: 0.8rem;
}
.product-card table tr {
  border-bottom: 1px dashed rgba(0,0,0,0.2);
}
.product-card table td:first-child {
  color: #777;
}
.product-card .product-offer {
    padding: 20px 0 20px 20px;
    background-color: #fff;
    position: relative;
    border: 1px solid rgba(0,0,0,.125);
    border-left: 3px solid var(--accent);
}
.product-card .product-offer .far,
.product-card .product-offer .fas {
  color: var(--accent);
}
/* End Product Card */



